/*Iphone(380 x 640)*/
@media screen and (min-width: 380px) {
  #root {
    /* Mobile Screen Size */
    width: 400px; /* 400px nhìn cho đẹp*/
    margin: 0 auto;
    padding: 1rem;
  }
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {
  
}

/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {}

/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {}

#root {
  /* Mobile Screen Size */
  min-width: 320px; /* 400px nhìn cho đẹp*/
  margin: 0 auto;
  padding: 1rem;
}

/** -=============== App Component ===============- */

.address-title {
  margin: 16px 0;
  text-align: center;
}

hr {
  border: 2px solid var(--yellow);
  margin-bottom: 10px;
}

/** -=============== Address Home Page ===============- */

#address-page {
  padding: 1rem;
  margin: 0 auto;

}

/** -=============== Add New Address ===============- */

#new-address-page {
  padding: 1rem;
  margin: 0 auto;
}
